.section1 {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.content1 {
  margin-top: 25%;
  margin-left: 53%;
  font-size: 36px;
  font-family: 'KG Happy';
  color: #ffffff
}

.fanzineBtn {
  border: none;
  padding: 0.5em 3em;
  border-radius: 25px;
  background-color: #627d7d;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.fanzineBtn:hover {
  text-shadow: 0 0 10px #ffffff88;
  transition: text-shadow ease-in-out 150ms;
}

.section2 {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.content2 {
  margin: 16% auto;
  padding: 4em 6em;
  width: fit-content;
  background-color: #ffffff;
  font-size: 18px;
}

.section3 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.fanzine {
  position: relative;
  padding: 15% 0;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
}

.contentFanzine {
  position: absolute;
  width: fit-content;
  left: 27%;
  top: 62%;
  font-size: 14px;
}

.copertinaFanzine {
  filter: drop-shadow(0 0 6px #00000050);
}

@media screen and (width < 1280px) {
  .fanzine {
    flex-direction: column;
  }
}